@import './c_app.scss';

:root {
  --box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}


*{
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

body {
  background-color: #0e0e0e;
}

header {
  text-align: center;
}

a {
  text-decoration: none;
}

select,
input {
  border-radius: 2px;
  display: block;
  font-size: 16px;
  margin: 12px auto;
  padding: 10px;
  width: 90%;
  background-color: #1a1a1a;
  border: 1px solid #ccc;
  color: #fff;

  &:focus {
    background-color: #313131;
    border: 1px solid $primary-color;
    outline: none;
  }
}

.App {
  color: #fff;
  // width: 80vw;
  // margin: 25px auto;
  // border: 1px solid #ccc;
  // padding: $l-spacing;
  // background: #fff;

  // @include small {
  //   width: 70vw;
  // }

  // @include medium {
  //   width: 50vw;
  // }

  // @include large {
  //   width: 40vw;
  // }

  // @include xlarge {
  //   width: 30vw;
  // }
}

.home {
  width: $full-span;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .grid-container {
    position: fixed;
    display: grid;
    width: $full-span;
    height: $full-span;
    top: 0;
    left: 0;
    z-index: 0;

    grid-template-columns: repeat(3, 1fr);

    @include medium {
      grid-template-columns: repeat(4, 1fr);
    }

    .grid-item {
      font-size: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #0e0e0e;
      // transition: all 0.5s linear 0s;

      .plus-container {
        width: 30px;
        height: 30px;
        position: relative;
        // transition: all 0.5s linear 0s;

        div {
          position: absolute;
          top: 0px;
          left: 0px;
          // transition: all 0.5s linear 0s;

          &:first-child {
            color: #fff;
            z-index: 3;
          }

          &:nth-child(2) {
            color: $primary-color;
            z-index: 2;
          }

          &:last-child {
            color: $secondary-color;
            z-index: 1;
          }
        }
      }
      
      &:hover {
        filter: brightness(120%);
        transform: translate(0px, 0px) !important;
        // cursor: none;

        .plus-container {
          div {
            &:nth-child(2) {
              top: -2px;
              left: -2px;
            }

            &:last-child {
              top: 2px;
              left: 2px;
            }
          }
        }
      }
    }
  }

  .aira {
    width: 45vmin;
    height: 45vmin;
    margin-top: 10vmin;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: logo 1s ease infinite;

    @include small {
      width: 25vmin;
      height: 25vmin;
    }

    @include medium {
      width: 20vmin;
      height: 20vmin;
    }

    &:hover {
      .aira-title {
        transform: rotateX(0deg);
        div {

          &:first-child {
            top: 0;
          }
          &:nth-child(2) {
            top: -2px;
            left: -2px;
          }

          &:last-child {
            top: 2px;
            left: 2px;
          }
        }
      }

      .aira-logo {
        opacity: 0;
      }
    }

    .aira-title {
      position: absolute;
      top: 25px;
      width: inherit;
      height: 40px;
      overflow: hidden;
      text-align: center;
      font-size: 30px;
      font-weight: bold;
      // transform: rotateX(-90deg);
      transition: all 0.5s linear 0s;

      div {
        transition: all 0.5s linear 0s;
        position: absolute;
        width: inherit;
        top: 0;

        &:first-child {
          color: #fff;
          top: 200px;
          left: 0px;
          z-index: 3;
        }

        &:nth-child(2) {
          color: $primary-color;
          top: 0;
          left: 200px;
          z-index: 2;
        }

        &:last-child {
          color: $secondary-color;
          top: 0;
          left: -200px;
          z-index: 1;
        }
      }
    }

    .aira-logo {
      margin: $l-spacing 0px;
      position: absolute;
      bottom: 0;
      z-index: 1;
      transition: all 0.5s linear 0s;

      &:hover {
        .path {
          stroke: $secondary-color;
        }

        circle {
          stroke: $secondary-color;
          fill: $secondary-color;
        }
      }

      .path {
        stroke-dasharray: 900;
        // animation: dash 2.5s ease alternate infinite both running;
        transition: all 0.5s linear 0s;
        animation: path-animation 3s linear forwards infinite;
      }

      circle {
        stroke: #0ff;
        fill: #0ff;
        transition: all 0.5s linear 0s;
        animation: circle-animation 3s linear forwards infinite;
      }

      @keyframes path-animation {
        0% {
          stroke-dashoffset: -900;
        }

        100% {
          stroke-dashoffset: 900;
        }

        50% {
          stroke-dashoffset: 0;
        }
      }
    }
  }

  .welcome-modal {
    width: 70vmin;

    @include large {
      width: 50vmin;
    }

    .content {
      overflow-y: auto;
      max-height: 70vh;
      padding: 6px;
      text-align: justify;

      @include large {
        padding: $l-spacing;
      }

      .disclaimer {
        text-align: left;
      }
    }

    .btn-dismiss {
      width: 100px;
      float: right;
    }
  }

  .home-buttons {
    margin-top: 18px;

    .glitch {
      box-sizing: border-box;
      width: 150px;
      height: 46px;
      position: relative;
      font-size: 30px;
      color: #fff;
      border: 1px solid $primary-color;
      transition: all 0.5s linear 0s;

      &:hover {
        border: 1px solid $secondary-color;
        cursor: pointer;

        &:first-child {
          transform: translateY(-2px);
        }

        &:last-child {
          transform: translateY(2px);
        }

        div {
          &:nth-child(2) {
            top: -2px;
            left: -2px;
            z-index: 2;
          }

          &:last-child {
            top: 2px;
            left: 2px;
            z-index: 1;
          }
        }
      }

      div {
        width: 150px;
        position: absolute;
        text-align: center;
        top: 0;
        left: 0;
        transition: all 0.5s linear 0s;

        &:first-child {
          color: #fff;
          z-index: 3;
        }

        &:nth-child(2) {
          color: $primary-color;
          z-index: 2;
        }

        &:last-child {
          color: $secondary-color;
          z-index: 1;
        }
      }

      // &:first-child {
      //   margin-bottom: 8px;
      // }

      &:last-child {
        margin-top: -1px;
      }
    }

    button {
      border: none;
      width: 100px;

      &:first-child {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }

      &:last-child {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }
    }
  }
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: $full-span;
  height: $full-span;
  background-color: rgba($color: #ccc, $alpha: 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 4;

  .close-modal {
    display: flex;
    justify-content: flex-end;

    svg:hover {
      filter: brightness(120%);
      cursor: pointer;
    }
  }
}

.build-form-container,
.build-results,
.add-component-layout  {
  width: 80vw;

  @include small {
    width: 70vw;
  }

  @include medium {
    width: 50vw;
  }

  @include large {
    width: 30vw;
  }

  @include xlarge {
    width: 25vw;
  }

  .components-list {
    height: 50vh;
    overflow-y: auto;
  }

  .form-container {
    overflow-y: auto;
    max-height: 80vh;
  }
}

.add-components-tabs {
  overflow: hidden;

  .tabs {
    overflow-x: auto;
    justify-content: flex-start;
  }
}

// .add-component-layout {
// // .build-form-container, .add-component-layout, .build-results {
//   width: 25vw;
//   // border: 1px solid #ccc;
//   // padding: $l-spacing;
// }

.card {
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 12px;
}

.card-shadow {
  box-shadow: var(--box-shadow);
  box-shadow: 5px 5px rgba(200, 200, 200, 0.5);
}

.button-controls {
  margin-top: $l-spacing;
}

.back-btn {
  margin-top: $l-spacing;
  width: 150px;
}

button {
  cursor: pointer;
  border-radius: 2.5px;
  background-color: $primary-color;
  box-shadow: var(--box-shadow);
  // color: rgb(43, 43, 43);
  color: #4C5270;
  // color: #0e0e0e;
  border: 0;
  display: block;
  font-size: 16px;
  font-weight: 600;
  margin: 12px auto;
  padding: 10px;
  width: 90%;
  transform: translateZ(0);
  will-change: transform;
  transition: all 0.3s ease 0s;

  &:hover {
    // filter: brightness(120%);
    transform: translate(-1px, -3px);
    backface-visibility: hidden;
    box-shadow: 5px 5px 5px #000;
  }

  &:active {
    filter: brightness(120%);
    outline: none !important;
  }

}

nav > .tab {
  border-bottom: none !important;
}

.tabs {
  display: flex;
  width: $full-span;
  justify-content: space-evenly;
  margin: 0 auto;
}
.tab {
  text-align: center;
  list-style-type: none;
  /* border: 1px solid #ccc; */
  font-weight: 500;
  flex-grow: 2;
  padding: 8px;
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
}

.tab-selected, .tab:hover {
  border-radius: 2.5px;
  background-color: $primary-color;
  color: #4C5270;
  font-weight: bold;
  border: none;
  box-shadow: 0px 15px 20px rgba(100, 100, 100, 0.4);
  cursor: pointer;
}

.tab:visited {
  color: black;
}

.tab:first {
  border-left: 1px solid #ccc;
}

.tab:last-child {
  border-right: none;
}

.tab-content {
  padding: 8px 0;
}


.component-item {
  list-style: none;
  padding-top: $l-spacing;
  border-bottom: 1px solid #ccc;

  .edit-component, .delete-component {
    svg:hover {
      color: #4C5270 !important;
      transform: translate(-1px, -3px);
      cursor: pointer;
    }
  }
}

.component-item-details {
  padding: $l-spacing 0;
  display: flex;
  flex-wrap: wrap;

  div {
    margin-right: 12px;
  }
}

.detail {
  flex-grow: 1;
}

.delete {
  min-width: 100px;
  max-width: 100px;
  flex-grow: 2;
}

.error {
  // margin: 17px;
}

.error, .build-error {
  // padding: 10px;
  color: $secondary-color;
  text-align: center;
}



.dark-card {
  position: relative;
  z-index: 1;
  background: $primary-bg-color;
  padding: $l-spacing;
  border-radius: 5px;
  box-shadow: 5px 5px 5px #000;
  margin-bottom: $l-spacing;
  
  // border: 1px solid #fff;
}

.MuiSkeleton-root {
  background-color: rgb(50, 50, 50) !important;
}