$xsmall: 640px;
$small: 768px;
$medium: 1024px;
$large: 1280px;
$xlarge: 1920px;

@mixin xsmall {
    @media (min-width: #{$xsmall}) {
        @content;
    }
}

@mixin small {
    @media (min-width: #{$small}) {
        @content;
    }
}

@mixin medium {
    @media (min-width: #{$medium}) {
        @content;
    }
}

@mixin large {
    @media (min-width: #{$large}) {
        @content;
    }
}

@mixin xlarge {
    @media (min-width: #{$xlarge}) {
        @content;
    }
}

$primary-color: #00eeff;
$primary-bg-color: #1a1a1a;